
body {
  
  margin: 0;
  
  color: #555;
  font-size: 14px;
  line-height: 1.4em;
  font-family: JetBrains Mono, georgia, palatino, serif;
  width: 100vw;
}
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

a, a:visited, a:active {color: #e2eef5; text-decoration: none;}
h1, h3, p, a, li {
  font-family: JetBrains Mono, CiscoSans, helvetica, helvetica neue, verdana, tahoma, sans-serif;
}
h1 {
  font-size: 30px;
  font-weight: 100;
  line-height: 35px;
  color: #eee;
        
  
  
}

h3 {
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 1px;
  
  color: #222;
}
p{
  color: #eee;
  font-size: 16px;
}


.main{
  background: #eee;
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}
.Header{
  
  background: #eee;
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

#icon_cell { 
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  
}


#mainContainer {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  background-image: url('Pages/media/backgroundmain1.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  
}



.wrapper {
  text-align: center;
}
.wrapper {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: JetBrains Mono;
  background: linear-gradient(to right, #705bbe 0%, #9b5978 20%, #323db3 40%, #705bbe 80%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
#maintext {
  text-align: center;
  display: inline-block;
}

#maintext a {
  
  
  display: inline-block;
  
  
}

  
  
.button {
  color: #ffffff;
  background: #061B6E;
  text-align: center;
  padding: 1em 2em;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 1em 0;
}

.button:hover {
  opacity: .85;
}


.footer {
  width: 100%;
  background: #eee;

  text-align: center;
  display: inline-block;
}


.text {
  text-align: center
}
