
body {
  
  margin: 0;
  
  color: #003cff;
  font-size: 14px;
  line-height: 1.2;
  font-family: JetBrains Mono, georgia, palatino, serif;
  width: 100vw;
}
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

a, a:visited, a:active {color: #e2eef5; text-decoration: none;}
h1, h3, p, a, li {
  font-family: JetBrains Mono, CiscoSans, helvetica, helvetica neue, verdana, tahoma, sans-serif;
}

#body1 {
  background: #ffffff;
  text-align: center;
  display: inline-block;
  height: 100vh;
}
#img1{
  position: absolute;
  top: 20vh;
  right: 0vw;
}
#img1 img{
  
  width: 25vw;   /* 50% of the viewport width */
  height: auto;
  
}
#img2{
  position: absolute;
  top: 75vh;
  left: 0vw;
}
#img2 img{
  
  width: 18vw;   /* 50% of the viewport width */
  height: auto;
  
}
#a1{
  position: absolute;
  bottom: 5vh;
  left:50vw;
}
#a1 img{
  
  width: 5vw;   /* 50% of the viewport width */
  height: auto;
  
}

.main{
  background: #eee;
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}
.Header{
  
  background: #eeeeee98;
  
  margin: 0;
  text-align: center;
  display: inline-block;
}

#icon_cell { 

  position: absolute;
  top: 5vh;
  left: 50vw;
}
#icon_cell img { 
  border-radius: 100%;
  width: 25vw;
  height: auto;
}
.bar{
  position: sticky;
  top: 0;
}
#landing {
  background: #ffffff;
  text-align: center;
  display: inline-block;
  height: 100vh;
}


#mainContainer {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  
  width: 100vw;
  
}
#p1{
  background-image: url('Pages/media/backgroundmain1.png');
  background-repeat: no-repeat;
  background-size: cover;
}



.wrapper {
  text-align: center;
}
.wrapper {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: JetBrains Mono;
  background: linear-gradient(to right, #705bbe 0%, #9b5978 20%, #323db3 40%, #705bbe 80%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
#maintext {
  position: absolute;
  top: 50vh;
  left:25vw;
  
}

#maintext h1 {
  display: inline-block;
  width: 50vw;
}

  
  
.button {
  color: #ffffff;
  background: #061B6E;
  text-align: center;
  padding: 1em 2em;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 1em 0;
}

.button:hover {
  opacity: .85;
}


.footer {
  width: 100%;
  background: #eee;

  text-align: center;
  display: inline-block;
}


.text {
  text-align: center
}
